* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    font-family: 'IBM Plex Mono', monospace;
}

p, footer, li, form input {
    font-family: 'Poppins', sans-serif;
}

header .container, footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
}

header nav li {
    display: inline;
    margin-right: 12px;
}

header nav li a {
    text-decoration: none;
    color: #747678;
}

header, footer {
    background-color: #21222B;
    color: #747678;
    padding: 16px 0px;
}


.container {
    width: 1280px;
    margin: 0px auto;
}

.container video {
    height: 360px;
}

#lp_game .container {
    display: flex;
    padding: 32px 0px;
    color: white;
}

#about .container, #characters .container, #updates .container {
    padding: 16px 0px;
    color: white;
}

.container div h3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.container div nav ul li {
    display: inline;
    margin-right: 80px;
}

.container div img {
    height: 24px;
}

form input, form button {
    display: block;
    width: 320px;
    height: 48px;
    margin-top: 12px;
}

form button {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

header nav li a:hover {
    color: #0D82EC;
    text-decoration: underline;
}

form button:hover {
    background-color: #065197;
}

form input:focus {
    outline-color: #0D82EC;
    border: none;
}

#lp_game div {
    margin-left: 128px;
}

form button {
    background-color: #0D82EC;
    color: white;
    font-weight: bold;
}

main {
    background-color: #17181F;
}

#about p {
    margin-top: 12px;
}

.container article img {
    margin-bottom: 24px;
    height: 300px;
}

article {
    width: 40%;
    margin-bottom: 24px;
}

#characters .container div, #updates .container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#characters .container h3 {
    text-align: center;
}